/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:        HTML
    Version:        1.0
    Author:         congnd91@gmail.com
    Skype:          congnd91 
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";
/*==========Setting=========*/

html {
    font-size: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: $font-family-base;
    min-width: 320px;
    font-size: 14px;
    line-height: 1.4;
    @include transition();
    height: 100%;
    min-height: 100%;
    font-weight: 500;
}

@keyframes cover-grid {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
} //home-video 
.page {
    height: 100%;
    min-height: 100%;
}

dt,
dd {
    line-height: 1.5;
}

body,
html {
    height: 100%;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.3;
    font-family: $font-family-heading;
    font-weight: 700;
}

iframe {
    width: 100%;
    border: none;
}

::selection {}

.container-fluid-1600 {
    max-width: 1600px;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    @media screen and (max-width: 1199px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*==========Components=========*/

.row-fix {
    margin-left: -5px;
    margin-right: -5px;
    .col-fix {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    .container {}
}

#page-loader {
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
}

@keyframes scroll {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 1;
    }
    20% {
        transform: translate3d(0, -10px, 0);
    }
    50% {
        transform: translate3d(0, 0px, 0);
    }
    80% {
        transform: translate3d(0, -10px, 0);
    }
    100% {
        transform: translate3d(0, -20px, 0);
    }
} //home-video 
.home-hero {
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
    overflow: hidden;
    background-image: url(../images/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0px 30px 0px;
    @media screen and (max-width: 991px) {
        padding: 100px 0px 30px 0px;
    }
    img {
        width: 120%;
        max-width: 120%;
        @media screen and (max-width: 991px) {
            width: 100%;
            max-width: 100%;
        }
    }
    .hero-caption {
        color: #fff;
        text-transform: uppercase;
        p {
            font-size: 15px;
            font-family: $font-family-heading;
            font-weight: 800;
            margin: 100px 0px 0px 0px;
            @media screen and (max-width: 991px) {
                margin: 0px;
                font-size: 14px;
            }
        }
        h4 {
            font-size: 34px;
            font-family: $font-family-heading;
            font-weight: 900;
        }
        h2 {
            font-size: 60px;
            font-family: $font-family-heading;
            font-weight: 900;
            @include text();
            margin: 0px 0px 0px 0px;
            @media screen and (max-width: 991px) {
                font-size: 40px;
            }
        }
        a {
            display: inline-block;
            font-size: 12px;
            font-family: $font-family-heading;
            font-weight: 900;
            color: #fff;
            padding: 0px 20px;
            line-height: 50px;
            margin: 100px 0px 20px 0px;
            background-color: $active-color;
            background: -webkit-linear-gradient(0deg, $active-color, $active-color-second);
            @include transition();
            border-radius: 30px;
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
            }
            &:active {
                box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
            }
            @media screen and (max-width: 991px) {
                margin: 20px 0px;
            }
        }
    }
}

.header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
    right: 0px;
    height: 70px;
    background-color: #fff;
    @include transition();
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.header-inner {
    height: 90px;
    position: relative;
    a.logo {
        float: left;
        margin: 1px 0px 0px 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        img {
            height: 50px;
        }
        @media screen and (max-width: 480px) {
            overflow: hidden;
            width: 50px;
            img {
                max-width: 200px;
            }
        }
    }
    .header-right {
        float: right;
        .hotline {
            float: left;
            line-height: 50px;
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            font-weight: 800;
            color: #000;
            span {
                @include text();
                margin: 0px 0px 0px 5px;
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        a {
            line-height: 50px;
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            font-weight: 900;
            text-decoration: underline;
            margin: 0px 0px 0px 20px;
            em {
                font-style: normal;
                @include text();
                border-bottom: 1px solid #fec286;
                display: inline-block;
                line-height: normal;
                @include transition();
                &:hover {
                    border-bottom: 1px solid $active-color;
                }
            }
            @media screen and (max-width: 480px) {
                font-size: 12px;
                margin: 0px 0px 0px 5px;
            }
        }
    }
}

.section-caption {
    p {
        font-size: 14px;
        font-family: $font-family-heading;
        font-weight: 800;
        margin: 5px 0px;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
            margin: 0px;
        }
        @media screen and (max-width: 767px) {
            font-size: 14px;
            font-weight: 500;
        }
    }
    h2 {
        font-size: 55px;
        font-family: $font-family-heading;
        font-weight: 900;
        @include text();
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
            font-size: 40px;
        }
        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }
    &.white {
        p {
            color: #fff;
            a {
                @include text();
            }
        }
        h2 {
            color: #fff !important;
            background-image: none !important;
            -webkit-text-fill-color: #fff !important;
        }
    }
}

.section-star {
    margin: 20px 0px 30px 0px;
    text-align: center;
    color: $active-color;
}

.service {
    padding: 120px 0px;
    @media screen and (max-width: 1199px) {
        padding: 80px 0px;
    }
    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0px;
    }
    .service-row {
        max-width: 700px;
        margin: 0px auto;
        .service-col {
            width: 14.28%;
            float: left;
            @media screen and (max-width: 680px) {
                width: 20%;
            }
            @media screen and (max-width: 480px) {
                width: 33%;
            }
        }
        .service-item {
            margin: 0px auto;
            text-align: center;
            p {
                margin: 10px auto;
                font-size: 12px;
                font-family: $font-family-heading;
                font-weight: 800;
                text-transform: uppercase;
                padding: 0px 20px;
                @include transition();
                min-height: 70px;
                height: 70px;
            }
            &:hover {
                p {
                    color: $active-color;
                }
            }
        }
    }
}

.park {
    padding: 80px 0px;
    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0px;
    }
    .section-caption {
        p {
            font-weight: 600;
            margin: 10px 0px;
            &.des {
                font-weight: 600;
                text-transform: none;
            }
        }
        margin-bottom: 40px;
    }
    .park-item {
        padding: 25px 0px;
        border-top: 1px solid #e8dde0;
        p {
            margin: 0px;
            font-size: 14px;
            font-weight: 600;
            font-family: $font-family-heading;
            strong {
                font-weight: 900;
                text-transform: uppercase;
            }
            a {
                font-weight: 800;
                color: $active-color-second;
                text-transform: uppercase;
            }
        }
        img {
            margin: 10px 0px 0px 0px;
        }
    }
    .pi-box {
        @media screen and (max-width: 767px) {
            margin: 8px 0px 0px 0px;
        }
    }
    .park-note {
        border-top: 1px solid #e8dde0;
        padding: 30px 0px 10px 0px;
        text-align: center;
        p {
            margin: 0px;
            font-size: 14px;
            font-weight: 800;
            font-family: $font-family-heading;
        }
    }
}

.join-team {
    padding: 120px 0px;
    background: url("../images/bg3.jpg") no-repeat center center;
    background-size: cover;
    @media screen and (max-width: 1199px) {
        padding: 80px 0px;
    }
    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0px;
    }
}

.project {
    min-height: 1000px;
    position: relative;
    background-color: #fff;
    width: 100%;
    position: relative;
    z-index: 5;
    background-color: #000;
    @media screen and (max-width: 1199px) {
        min-height: 600px;
    }
    @media screen and (max-width: 767px) {
        min-height: 400px;
    }
    .project-content {
        z-index: 99;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 150px 0px 0px 0px;
        @media screen and (max-width: 1199px) {
            padding: 100px 0px 0px 0px;
        }
        @media screen and (max-width: 991px) {
            padding: 50px 0px 0px 0px;
        }
    }
    .project-caption {
        span {
            display: block;
            margin: 0px;
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;
            color: #fff;
            font-family: $font-family-heading;
        }
        .line {
            height: 5px;
            background-color: $active-color;
            background: -webkit-linear-gradient(0deg, $active-color, $active-color-second);
            width: 70px;
            margin: 3px 0px;
        }
    }
    .gallery-top {
        min-height: 100%;
        position: absolute;
        width: 100%;
        .swiper-wrapper {
            position: absolute;
            height: 100%;
            min-height: 100%;
            .swiper-slide {
                min-height: 100%;
                background-size: cover;
                background-position: center center;
            }
        }
    }
    .gallery-thumbs .swiper-slide {
        width: 100%;
        border: 1px solid red;
        height: 40px;
        color: #fff;
        font-size: 30px;
        &.swiper-slide-active {
            border: 1px solid lime;
        }
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    .project-item-caption {
        position: absolute;
        max-width: 700px;
        padding: 20px;
        background-color: #000;
        bottom: 300px;
        left: 200px;
        z-index: 99;
        @media screen and (max-width: 1400px) {
            max-width: 500px;
            left: 100px;
            bottom: 200px;
        }
        @media screen and (max-width: 1199px) {
            max-width: 400px;
            left: 30px;
            bottom: 50px;
        }
    }
}

.footer {
    padding: 70px 0px;
    text-align: center;
    background-color: #000;
    @media screen and (max-width: 991px) {
        padding: 30px 0px;
    }
    p {
        font-size: 14px;
        color: #fff;
        margin: 0px;
    }
}

/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:        HTML
    Version:        1.0
    Author:         congnd91@gmail.com
    Skype:          congnd91 
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";
/*==========Setting=========*/

html {
    font-size: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: $font-family-base;
    min-width: 320px;
    font-size: 14px;
    line-height: 1.4;
    @include transition();
    height: 100%;
    min-height: 100%;
    font-weight: 500;
}

@keyframes cover-grid {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
} //home-video 
.page {
    height: 100%;
    min-height: 100%;
}

dt,
dd {
    line-height: 1.5;
}

body,
html {
    height: 100%;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.3;
    font-family: $font-family-heading;
    font-weight: 700;
}

iframe {
    width: 100%;
    border: none;
}

::selection {}

.container-fluid-1600 {
    max-width: 1600px;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    @media screen and (max-width: 1199px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*==========Components=========*/

.row-fix {
    margin-left: -5px;
    margin-right: -5px;
    .col-fix {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    .container {}
}

#page-loader {
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
}

@keyframes scroll {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 1;
    }
    20% {
        transform: translate3d(0, -10px, 0);
    }
    50% {
        transform: translate3d(0, 0px, 0);
    }
    80% {
        transform: translate3d(0, -10px, 0);
    }
    100% {
        transform: translate3d(0, -20px, 0);
    }
} //home-video 
.home-hero {
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
    overflow: hidden;
    background-image: url(../images/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0px 30px 0px;
    @media screen and (max-width: 991px) {
        padding: 100px 0px 30px 0px;
    }
    img {
        width: 120%;
        max-width: 120%;
        @media screen and (max-width: 991px) {
            width: 100%;
            max-width: 100%;
        }
    }
    .hero-caption {
        color: #fff;
        text-transform: uppercase;
        p {
            font-size: 15px;
            font-family: $font-family-heading;
            font-weight: 800;
            margin: 100px 0px 0px 0px;
            @media screen and (max-width: 991px) {
                margin: 0px;
                font-size: 14px;
            }
        }
        h4 {
            font-size: 34px;
            font-family: $font-family-heading;
            font-weight: 900;
        }
        h2 {
            font-size: 60px;
            font-family: $font-family-heading;
            font-weight: 900;
            @include text();
            margin: 0px 0px 0px 0px;
            @media screen and (max-width: 991px) {
                font-size: 40px;
            }
        }
        a {
            display: inline-block;
            font-size: 12px;
            font-family: $font-family-heading;
            font-weight: 900;
            color: #fff;
            padding: 0px 20px;
            line-height: 50px;
            margin: 100px 0px 20px 0px;
            background-color: $active-color;
            background: -webkit-linear-gradient(0deg, $active-color, $active-color-second);
            @include transition();
            border-radius: 30px;
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
            }
            &:active {
                box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
            }
            @media screen and (max-width: 991px) {
                margin: 20px 0px;
            }
        }
    }
}

.header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
    right: 0px;
    height: 70px;
    background-color: #fff;
    @include transition();
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.header-inner {
    height: 90px;
    position: relative;
    a.logo {
        float: left;
        margin: 1px 0px 0px 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        img {
            height: 50px;
        }
        @media screen and (max-width: 480px) {
            overflow: hidden;
            width: 50px;
            img {
                max-width: 200px;
            }
        }
    }
    .header-right {
        float: right;
        .hotline {
            float: left;
            line-height: 50px;
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            font-weight: 800;
            color: #000;
            span {
                @include text();
                margin: 0px 0px 0px 5px;
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        a {
            line-height: 50px;
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            font-weight: 900;
            text-decoration: underline;
            margin: 0px 0px 0px 20px;
            em {
                font-style: normal;
                @include text();
                border-bottom: 1px solid #fec286;
                display: inline-block;
                line-height: normal;
                @include transition();
                &:hover {
                    border-bottom: 1px solid $active-color;
                }
            }
            @media screen and (max-width: 480px) {
                font-size: 12px;
                margin: 0px 0px 0px 5px;
            }
        }
    }
}

.section-caption {
    p {
        font-size: 14px;
        font-family: $font-family-heading;
        font-weight: 800;
        margin: 5px 0px;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
            margin: 0px;
        }
        @media screen and (max-width: 767px) {
            font-size: 14px;
            font-weight: 500;
        }
    }
    h2 {
        font-size: 55px;
        font-family: $font-family-heading;
        font-weight: 900;
        @include text();
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
            font-size: 40px;
        }
        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }
    &.white {
        p {
            color: #fff;
            a {
                @include text();
            }
        }
        h2 {
            color: #fff !important;
            background-image: none !important;
            -webkit-text-fill-color: #fff !important;
        }
    }
}

.section-star {
    margin: 20px 0px 30px 0px;
    text-align: center;
    color: $active-color;
}

.service {
    padding: 120px 0px;
    @media screen and (max-width: 1199px) {
        padding: 80px 0px;
    }
    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0px;
    }
    .service-row {
        max-width: 700px;
        margin: 0px auto;
        .service-col {
            width: 14.28%;
            float: left;
            @media screen and (max-width: 680px) {
                width: 20%;
            }
            @media screen and (max-width: 480px) {
                width: 33%;
            }
        }
        .service-item {
            margin: 0px auto;
            text-align: center;
            p {
                margin: 10px auto;
                font-size: 12px;
                font-family: $font-family-heading;
                font-weight: 800;
                text-transform: uppercase;
                padding: 0px 20px;
                @include transition();
                min-height: 70px;
                height: 70px;
            }
            &:hover {
                p {
                    color: $active-color;
                }
            }
        }
    }
}

.park {
    padding: 80px 0px;
    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0px;
    }
    .section-caption {
        p {
            font-weight: 600;
            margin: 10px 0px;
            &.des {
                font-weight: 600;
                text-transform: none;
            }
        }
        margin-bottom: 40px;
    }
    .park-item {
        padding: 25px 0px;
        border-top: 1px solid #e8dde0;
        p {
            margin: 0px;
            font-size: 14px;
            font-weight: 600;
            font-family: $font-family-heading;
            strong {
                font-weight: 900;
                text-transform: uppercase;
            }
            a {
                font-weight: 800;
                color: $active-color-second;
                text-transform: uppercase;
            }
        }
        img {
            margin: 10px 0px 0px 0px;
        }
    }
    .pi-box {
        @media screen and (max-width: 767px) {
            margin: 8px 0px 0px 0px;
        }
    }
    .park-note {
        border-top: 1px solid #e8dde0;
        padding: 30px 0px 10px 0px;
        text-align: center;
        p {
            margin: 0px;
            font-size: 14px;
            font-weight: 800;
            font-family: $font-family-heading;
        }
    }
}

.join-team {
    padding: 120px 0px;
    background: url("../images/bg3.jpg") no-repeat center center;
    background-size: cover;
    @media screen and (max-width: 1199px) {
        padding: 80px 0px;
    }
    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0px;
    }
}

.project {
    min-height: 1000px;
    position: relative;
    background-color: #fff;
    width: 100%;
    position: relative;
    z-index: 5;
    background-color: #000;
    @media screen and (max-width: 1199px) {
        min-height: 600px;
    }
    @media screen and (max-width: 767px) {
        min-height: 400px;
    }
    .project-content {
        z-index: 99;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 150px 0px 0px 0px;
        @media screen and (max-width: 1199px) {
            padding: 100px 0px 0px 0px;
        }
        @media screen and (max-width: 991px) {
            padding: 50px 0px 0px 0px;
        }
    }
    .project-caption {
        span {
            display: block;
            margin: 0px;
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;
            color: #fff;
            font-family: $font-family-heading;
        }
        .line {
            height: 5px;
            background-color: $active-color;
            background: -webkit-linear-gradient(0deg, $active-color, $active-color-second);
            width: 70px;
            margin: 3px 0px;
        }
    }
    .gallery-top {
        min-height: 100%;
        position: absolute;
        width: 100%;
        .swiper-wrapper {
            position: absolute;
            height: 100%;
            min-height: 100%;
            .swiper-slide {
                min-height: 100%;
                background-size: cover;
                background-position: center center;
            }
        }
    }
    .gallery-thumbs .swiper-slide {
        width: 100%;
        border: 1px solid red;
        height: 40px;
        color: #fff;
        font-size: 30px;
        &.swiper-slide-active {
            border: 1px solid lime;
        }
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    .project-item-caption {
        position: absolute;
        max-width: 700px;
        padding: 20px;
        background-color: #000;
        bottom: 300px;
        left: 200px;
        z-index: 99;
        @media screen and (max-width: 1400px) {
            max-width: 500px;
            left: 100px;
            bottom: 200px;
        }
        @media screen and (max-width: 1199px) {
            max-width: 400px;
            left: 30px;
            bottom: 50px;
        }
    }
}

.footer {
    padding: 70px 0px;
    text-align: center;
    background-color: #000;
    @media screen and (max-width: 991px) {
        padding: 30px 0px;
    }
    p {
        font-size: 14px;
        color: #fff;
        margin: 0px;
    }
}
